extends layout

block content
  h1= title

  img(src='https://doublebar.ru/pub/5/photos/471/h500.jpg')

  p

  p Главный бар в семействе «Центр Франчайзинг», Double, неожиданно для своих создателей стал удачной площадкой для кардинально разных событий. Открывался он вечеринкой под руководством известного нью-йоркского бармена Дева Джонсона, продолжил свою историю концертом Ильи Лагутенко и финалом международного барменского чемпионата. А дальше — прямые радиоэфиры и вечера молодых поэтов, фешн-шоу и закрытые девичники, коктейльные дегустации и выступления танцевальных групп. Double расположился в главном здании Екатеринбурга — буквально за стеной работает Администрация города, а здесь подают домашние обеды, жарят стейки и котлеты для бургеров и смешивают ледяные коктейли.

  p Интерьер Double Bar — это настоящий закат солнца вручную. Страсть к своему делу дает на выходе вот такие произведения искусства, как оформление этого бара. Он сочетает в себе философию рока и Америки 20−30 годов, причем рокерский стиль был добавлен в американский бар для того, чтобы интегрировать в интерьер бренд виски Ballantine’s, философией которого является манифест WORK&ROCK. Ярким символом этой философии стала разбитая гитара на стене помещения, которая олицетворяет апогей выступления рокера, который разбивает свой инструмент. Ее деревянный корпус выпилен на заказ и украшен старыми медными деталями.

  p Айдентика Double Grill & Bar разработана в стиле раздвоения объектов, которая объясняется названием бара, сутью питейного заведения и видением окружающего через граненый стакан.

  p Из портретов Тома Йорка (вокалист группы RadioHead), культового представителя рокерского направления, сделали своеобразный индустриальный поп-арт: их «нарисовали» краской, штукатуркой, ржавчиной и сваркой. Radiohead — британская рок-группа из Оксфордшира. Группа была основана в 1985 году, и её состав с того времени не менялся. Стиль Radiohead традиционно определяют как альтернативный рок, хотя на разных этапах звучание варьировалось от брит-попа до арт-рока и электронной музыки

  p На спинках барных стульев креативщики разместили цитаты великих рок-музыкантов, а на один из них повесили косуху, как будто ее там просто кто-то оставил.